# Dependencias
node_modules/

# Variaveis de ambiente
.env

# Logs
*.log

# Sistema operacional
.DS_Store
Thumbs.db

# Build
dist/
build/

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars
*.tfplan
crash.log
crash.*.log

# Chaves e credenciais locais
*.pem
*.key
technova-key*
